@page
@model Demo1.Pages.Customers.DetailsModel

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.VASId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.VASId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.DateCreated)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Customer.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
               MessageID
            </th>
            <th>
               Src
            </th>
            <th>
               Destination
            </th>
            <th>
               Text
            </th>
           
            <th>
               Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customer.Messages)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MessageId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SourceAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DestinationAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>              
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
               
            </tr>
        }
    </tbody>
</table>
