@page
@model Demo1.Pages.Customers.Messages.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Message[0].Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message[0].SourceAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message[0].DestinationAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message[0].Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message[0].MessageId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message[0].ReplyTo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message[0].DateCreated)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Message) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReplyTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
